# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# ADDED:
*.lnk
*.pdb
*.res
*.ilk
**/.vs/
**/Debug/
**/Release/
**/x86/
**/x64/
*.manifest
unused/

# Python
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
